<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.omarmohamed.myvideogallery">

    <!-- Basic permissions -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- The user MUST can use the camera of the device in order to use properly the application -->
    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:name="com.omarmohamed.myvideogallery.Application"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <!--Main Activity-->
        <activity
            android:name="com.omarmohamed.myvideogallery.ui.main.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <!--Video Player Activities-->
        <activity
            android:name="com.omarmohamed.myvideogallery.ui.video.PlayerActivity"
            android:label="@string/video_preview" />
        <activity
            android:name="com.omarmohamed.myvideogallery.ui.video.ExoPlayerActivity"
            android:label="@string/video_preview"
            android:screenOrientation="sensorLandscape" />
        <!--Video Recorder Activity-->
    </application>

</manifest>
